### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_datadf = purchase_data.rename(columns={'SN':'Player','Item Name':'Game Title'})
purchase_datadf.head()

,Purchase ID,Player,Age,Gender,Item ID,Game Title,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [31]:
player_count = len(purchase_datadf['Player'].unique())

player_count_total= pd.DataFrame({'Total Players':[player_count]})

player_count_total

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
unique_items = len(purchase_datadf['Item ID'].unique())
unique_items

183

In [40]:
avg_price = round(purchase_datadf['Price'].mean(),2)
avg_price

3.05

In [42]:
total_purchases = purchase_datadf['Purchase ID'].count()
total_purchases

780

In [43]:
total_revenue = purchase_datadf['Price'].sum()
total_revenue

2379.77

In [50]:
purchasing_analysis = pd.DataFrame({'Number of Unique Items':[unique_items], 'Average Price':f'${avg_price}',
                                    'Number of Purchases':[total_purchases], 'Total Revenue':f'${total_revenue}'})

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [223]:
gender_df = purchase_datadf.drop_duplicates(['Gender','Player'])
grouped_genderdf = gender_df.groupby(['Gender'])

grouped_genderdf.count()

                       Purchase ID  Player  Age  Item ID  Game Title  Price
Gender
Female                          81      81   81       81          81     81
Male                           484     484  484      484         484    484
Other / Non-Disclosed           11      11   11       11          11     11

In [177]:
male_players = gender_df.loc[gender_df['Gender']=='Male','Gender'].count()
male_players

484

In [178]:
female_players = gender_df.loc[gender_df['Gender']== 'Female','Gender'].count()
female_players

81

In [179]:
other_players = gender_df.loc[gender_df['Gender']== 'Other / Non-Disclosed','Gender'].count()
other_players

11

In [229]:
male_percent = round(male_players/len(gender_df['Gender'])*100,2)
female_percent = round(female_players/len(gender_df['Gender'])*100,2)
other_percent = round(other_players/len(gender_df['Gender'])*100,2)

84.03
14.06
1.91

In [619]:
gender_demographics = pd.DataFrame({'Total Count':grouped_genderdf['Player'].count()})
gender_demographics["Percentage of Players"] = (gender_demographics['Total Count']/gender_demographics['Total Count'].sum()).map('{:,.2%}'.format)
sorted_gender_demographics = gender_demographics.sort_values(['Total Count'], ascending= False)

sorted_gender_demographics

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [264]:
gender_groupdf = purchase_datadf.groupby(['Gender'])
gender_groupdf.count()

                       Purchase ID  Player  Age  Item ID  Game Title  Price
Gender
Female                         113     113  113      113         113    113
Male                           652     652  652      652         652    652
Other / Non-Disclosed           15      15   15       15          15     15

In [329]:
avg_purchase_price = round(gender_groupdf['Price'].sum()/gender_groupdf['Purchase ID'].count(),2)

In [351]:
total_purchase = gender_groupdf['Price'].sum()

In [354]:
avg_total_per = round(total_purchase/grouped_genderdf['Player'].count(),2)

In [356]:
gender_purchasing_analysis = pd.DataFrame({'Purchase Count': gender_groupdf['Purchase ID'].count(),
                                           'Average Purchase Price': avg_purchase_price.map('${:,.2f}'.format),
                                          'Total Purchase Value': total_purchase.map('${:,.2f}'.format),
                                          'Avg Total Purchase per Person': avg_total_per.map('${:,.2f}'.format)})

gender_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [364]:
purchase_datadf

,Purchase ID,Player,Age,Gender,Item ID,Game Title,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [453]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

gender_df['Age Range'] = pd.cut(gender_df['Age'], bins, labels= group_names, include_lowest=True)

age_group = gender_df.groupby('Age Range')
player_age_percent = (age_group['Player'].count()/age_group['Player'].count().sum()).map('{:,.2%}'.format)

In [454]:
age_demographics= pd.DataFrame({'Total Count':age_group['Player'].count(), 'Percentage of Players':player_age_percent})
age_demographics

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [488]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_datadf['Age Range'] = pd.cut(purchase_datadf['Age'], bins, labels= group_names, include_lowest=True)

full_age_group = purchase_datadf.groupby('Age Range')

In [500]:
age_price_total = full_age_group['Price'].sum()

In [487]:
age_avg_purchase_price = round(full_age_group['Price'].sum()/full_age_group['Purchase ID'].count(),2)

In [508]:
age_avg_purchase_per = round(age_price_total/age_group['Player'].count(),2)

In [510]:
age_purchasing_analysis = pd.DataFrame({'Purchase Count': full_age_group['Player'].count(),
                                        'Average Purchase Price': age_avg_purchase_price.map('${:,.2f}'.format),
                                       'Total Purchase': age_price_total.map('${:,.2f}'.format),
                                       'Avg Total Purchase per Person': age_avg_purchase_per.map('${:,.2f}'.format)})

In [511]:
age_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [590]:
purchase_datadf

player_group = purchase_datadf.groupby('Player')

In [549]:
top_purchase_count = player_group['Price'].count()

In [569]:
top_total_purchase = player_group['Price'].sum()

In [591]:
top_avg_purchase = round(top_total_purchase/top_purchase_count,2)

In [592]:
top_spenders = pd.DataFrame({'Purchase Count': top_purchase_count,
                             'Average Purchase Price': top_avg_purchase,
                             'Total Purchase Value': top_total_purchase})

sorted_top_spenders= top_spenders.sort_values(['Total Purchase Value'], ascending=False).head()

sorted_top_spenders.style.format({'Average Purchase Price': '${:,.2f}','Total Purchase Value': '${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [600]:
popular_groupdf = purchase_datadf.groupby(['Item ID','Game Title'])

In [604]:
pop_purchase_count = popular_groupdf['Price'].count()

In [611]:
pop_total_purchase = popular_groupdf['Price'].sum()

In [613]:
pop_item_price = pop_total_purchase/pop_purchase_count

In [616]:
most_popular_items = pd.DataFrame({'Purchase Count': pop_purchase_count,
                                   'Item Price': pop_item_price,
                                   'Total Purchase Value': pop_total_purchase})

sorted_most_popular_items = most_popular_items.sort_values(['Purchase Count'], ascending= False).head()

sorted_most_popular_items.style.format({'Item Price': '${:,.2f}','Total Purchase Value': '${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [618]:
most_popular_items = pd.DataFrame({'Purchase Count': pop_purchase_count,
                                   'Item Price': pop_item_price,
                                   'Total Purchase Value': pop_total_purchase})

sorted_most_popular_items = most_popular_items.sort_values(['Total Purchase Value'], ascending= False).head()

sorted_most_popular_items.style.format({'Item Price': '${:,.2f}','Total Purchase Value': '${:,.2f}'})

## Heroes of Pymoli Summary

* Males make up the majority of the gaming population and puchase totals.

* Young adults in their early to mid-twenties make up the majority of sales and players.

* "Oathbreaker, Lat Hope of the Breaking Storm" was the most popular game.